<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>家計簿</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js'></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    .sidebar {
      top:70px;
      position: -webkit-sticky;
      position: sticky;
    }
    body { padding-top: 70px; }
    #content{
      z-index:2;
      width:50%;
      padding: 1em;
      background:#fff;
    }
    #overlay{
      z-index:1;
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
  <!--ナビゲーションウィンドウ-->
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <div class="navbar-brand">家計簿</div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="index">推移</a>
      <a class="nav-item nav-link active" href="month">月毎・年度毎</a>
      <a class="nav-item nav-link" href="future">予測</a>
    </div>
  </nav>

  <div id = 'xxx'>

  <div class="container-fluid">
  <div class="row">
    <!--サイドバー-->
    <div class="col-2">
    <div class="sidebar">
    <ul class="nav flex-column">
 
    <input type="radio" name="picked" value="年度" v-model="picked" v-on:change="update">年度<br>
    <select v-model="yearSelected" v-on:change="updateYear">
      <option v-for="option in years" v-bind:value="option.name" v-bind:key="option.id">
        [[ option.name ]]
      </option>
    </select><br>
    <input type="radio" name="picked" value="月" v-model="picked" v-on:change="update">月<br>
    <select v-model="monthSelected" v-on:change="updateMonth">
      <option v-for="option in months" v-bind:value="option.name" v-bind:key="option.id">
        [[ option.name ]]
      </option>
    </select>
  </div>
  </div>
    <!--メイン-->
    <main role="main" class="col-md-7">
      <h1>概要</h1>
      <cccx v-bind:data="tbl_inout"></cccx>
      <h1>収入</h1>
      <canvas id="in" height="30%" width="100%"></canvas>
      <cccx v-bind:data="tbl_in"></cccx>
      <h1>支出</h1>
      <canvas id="out" height="30%" width="100%"></canvas>
      <cccx v-bind:data="tbl_out"></cccx>
      <!--<ccc-x v-bind:data="monthSnap" v-html: data="monthSnap"></ccc-x>-->
    </main>
  </div>
  </div>  

  </div>
  <script>

  Vue.component('cccx', {
    props: ['data'],
    template:
      `<table class="table table-striped table-sm table-hover">
        <thead>
          <tr align="right">
            <th v-for = "col in data[0]">[[col]]</th>
          </tr>
        </thead>
        <tbody>
          <tr align="right" v-for = "line in data.slice(1)">
            <td v-for = "dt in line">[[dt]]</td>
          </tr>
        </tbody>
      </table>`,
    delimiters: ['[[', ']]']  
  })

  url = location.href
  ap = new Vue({
    el: '#xxx',
    data:{
      picked : '月',
      yearSelected: '',
      monthSelected: '',
      months: [],
      years: [],
      tbl_inout: [],
      tbl_in: [],
      tbl_out: [],
      flag: false
    },
    delimiters: ['[[', ']]'],
    methods: {
      updateMonth: function(){
        this.picked = '月'
        this.update()
      },
      updateYear: function(){
        this.picked = '年度'
        this.update()
      },
      
      update: function(){
        if (this.picked == '月'){
          select = this.monthSelected
        } else {
          select = this.yearSelected
        }
        if(select != ""){
          console.log(this.flag)
          if (this.flag == true){
            window.myPie1.destroy()
            window.myPie2.destroy()
          } else {
            this.flag = true
          }
          if (url.indexOf('github') >= 0){
            var ctx = document.getElementById('in').getContext('2d');
            window.myPie1 = new Chart(ctx, sampleData['/getGraph_snapMonth/in/' + select])
            var ctx = document.getElementById('out').getContext('2d');
            window.myPie2 = new Chart(ctx, sampleData['/getGraph_snapMonth/out/' + select])
          } else {
            // 収入グラフ
            fetch('/getGraph_snapMonth/in/' + select).then(function(response) {
              return response.json();
            }).then(function(config) {
              window.myPie1 = new Chart(document.getElementById('in').getContext('2d'), config);
            })
            // 支出グラフ
            fetch('/getGraph_snapMonth/out/' + select).then(function(response) {
              return response.json();
            }).then(function(config) {
              window.myPie2 = new Chart(document.getElementById('out').getContext('2d'), config);
            })
          }
        }
      }      
    }
  })
  

  fetch('/getYear').then(function(response) {
    if (url.indexOf('github') >= 0){
      return sampleData['/getMonth']
    } else {
      return response.json();
    }
  }).then(function(data) {
    ap.yearSelected = data[data.length-1]
    for(var i=data.length-1; i>=0; i--) {
      ap.years.push({id:data[i], name:data[i]})
    }
  })
  fetch('/getMonth').then(function(response) {
    if (url.indexOf('github') >= 0){
      return sampleData['/getMonth']
    } else {
      return response.json();
    }
  }).then(function(data) {
    ap.monthSelected = data[data.length-1]
    select = data[data.length-1]
    for(var i=data.length-1; i>=0; i--) {
      ap.months.push({id:data[i], name:data[i]})
    }

    ap.update()
  })
  </script>

</body>
</html>
